body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Manrope";
}

/* Section */
#about {
  font-size: 2.5em;
  text-align: center;
}

#us {
  color: #F57C00;
}

#line {
  border: solid #F57C00;
  width: 98%;
}

#vegFruit {
  width: 36%;
  border-radius: 0 0 0 50%;
  left: 65%;
  position: absolute;
  top: -6%;
}

.mama {
  display: flex;
  align-items: center;
  margin-left: 2em;
  gap: 10%;
}

#mamamboga {
  width: 50%;
}

#platform {
  margin: 2em auto;
  font-size: 18px;
  padding: 0 15px;
}

#founded {
  font-size: 18px;
  margin-top: 20%;
  padding: 0 10px;
}

#hb {
  color: #F57C00;
  font-size: 22px;
}

/* Footer */
.footer {
  background-color: black;
  color: white;
  font-size: 18px;
}

.footerSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  padding: 1em;
}

.footer ul {
  list-style: none;
  line-height: 2;
  padding: 0;
}

#footerLogo {
  width: 130px;
}

#footerLogoText {
  text-align: center;
  margin-top: 10px;
}

.footerLogo {
  text-align: center;
}

.footerCopyright {
  background-color: #F57C00;
  text-align: center;
  font-family: "Julius Sans One";
}


@media only screen and (min-width:0px) and (max-width: 389px) {
  .mama {
    display: block;
    margin-left: 0;
  }

  #mamamboga {
    width: 90%;
  }

  #vegFruit {
    display: none;
  }

  #platform {
    font-size: 14px;
    padding: 0 10px;
  }

  #hb {
    font-size: 15px;
  }

  #founded {
    font-size: 14px;
    margin-top: 0;
    padding: 0 10px;
  }

  .footerSection {
    flex-direction: column;
    margin-left: 4px;
  }

  .footer {
    font-size: 14px;
  }

  .footerLogo {
    margin-left: -15em;
  }
  #footerLogo {
    width: 90px;
    margin-left: -4em;
  }
}


@media only screen and  (max-width:392px) {
  .mama {
    display: block;
    margin-left: 0;
  }

  #mamamboga {
    width: 90%;
  }

  #vegFruit {
    display: none;
  }

  #platform {
    font-size: 14px;
    padding: 0 10px;
  }

  #hb {
    font-size: 15px;
  }

  #founded {
    font-size: 14px;
    margin-top: 0;
    padding: 0 10px;
  }

  .footerSection {
    flex-direction: column;
    margin-left: 4px;
  }

  .footer {
    font-size: 14px;
  }

  .footerLogo {
    margin-left: -15em;
  }
  #footerLogo {
    width: 90px;
    margin-left: -4em;
  }
}

@media only screen and (min-width:393px) and (max-width: 600px) {
  .mama {
    display: block;
    margin-left: 0;
  }

  #mamamboga {
    width: 90%;
  }

  #vegFruit {
    display: none;
  }

  #platform {
    font-size: 14px;
    padding: 0 10px;
  }

  #hb {
    font-size: 15px;
  }

  #founded {
    font-size: 14px;
    margin-top: 0;
    padding: 0 10px;
  }

  .footerSection {
    flex-direction: column;
    margin-left: 4px;
  }

  .footer {
    font-size: 14px;
  }

  .footerLogo {
    margin-left: -17em;
  }
  #footerLogo {
    width: 90px;
    margin-left: -4em;
  }
}

@media only screen and (max-width: 990px) and (min-width:601px) {
  .mama {
    display: block;
    margin-left: 1%;
    
    width: 98%;
  }

  #vegFruit {
    display: none;
  }

  .aboutImage {
    flex-direction: column;
    margin: 0px;
  }
  #platform {
    font-size: 16px;
    margin-top: 0px;
    width: 94%;
  }

  #founded {
    font-size: 16px;
    padding: 0 1em;
    width: 98%;
  }
  #hb {
    font-size: 16px;
  }
  

  #mamamboga {
    width: 90%;
    /* margin: auto; */
    /* border: 1px solid; */
    margin-left: 5%;
  }

  .footer {
    font-size: 14px;
    /* margin-left: 0.%; */
    width: 100.8%;
  }
  #footerLogo {
    width: 90px;
  }
}

@media (min-width: 991px) and (max-width: 1200px) {
  body{
    font-size: 16px;
  }
  #footerLogo {
    width: 100px;
    text-align: center;
  }

  #footerLogoText {
    text-align: center;
  }
}